/*< background Section */
.background{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(255, 252, 228) */
    background-image: url("../img/background.jpg")
}
/*< background Section */

/*< hidden-link Section */
.hidden-link{
    color: rgb(41, 126, 41);
}

.hidden-link:hover{
    color: rgb(22, 202, 22);
    cursor: pointer;
}

/* hidden-link Section >*/

/*< circular-photo Section */

.circular-photo{
    border-radius: 50%;
}

/* circular-photo Section >*/

/*< container Section */

.container{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 1% !important;
    max-width: 98%;
    /* max-height: 90%; */
  }

  /* container Section >*/